<!-- <fluent-card class="meetings">
  <b>Now</b>
  <p style="text-align: center">No meetings now!</p>
</fluent-card> -->

<div class="wrapper">

  <div class="meetings">
    <fluent-card class="card" class="card">
      <b>Now</b>
      <p style="text-align: center">No meetings now!</p>
    </fluent-card>
  </div>
  <div class="people_today">
    <fluent-card>
      <div style="margin: 20px">
        <b>People Today</b>
      </div>
      <div #persons></div>
    </fluent-card>
  </div>
  <div class="three">
    <fluent-card class="card">
      <b>Now</b>
      <p style="text-align: center">No meetings now!</p>
    </fluent-card>
  </div>
</div>

<!-- <div id="grid">
  
  <div class="one">
    <fluent-card class="card">
      <b>Now</b>
      <p style="text-align: center">No meetings now! 1</p>
    </fluent-card>
  </div>

  <div class="two">
    <fluent-card class="card">
      <b>Now</b>
      <p style="text-align: center">No meetings now! 2</p>
    </fluent-card>
  </div>

  <fluent-card class="card">
    <b>Now</b>
    <p style="text-align: center">No meetings now! 3</p>
  </fluent-card>

</div> -->
